:root {
    --vh: 1vh;
  }
  
  body {
    overflow: hidden;
    width: 100vw;
    height: calc(var(--vh) * 100);
  }
  
  main {
    height: calc(var(--vh) * 90);
  }
  
  header {
    height: calc(var(--vh) * 10);
    display: flex;
    align-items: center;
  }
  